
<div class="wrapper">

	<div class="header"></div>
	<div class="welcome">
		<h1>WELCOME</h1>
		<h3>Contest App Demo Page</h3>
		<h4>Have fun</h4>
	</div>
	<a href="#login" class="button landing-button">Play!</a>
	
</div>