
<div class="wrapper">

	<div class="header"></div>
	<div class="login">
		<h4>Please, type your name:</h4>
		<input type="text"></input>
	</div>
	<a href="#game" class="button login-button">Launch the game</a>
	
</div>