
<div class="wrapper">

	<div class="header"></div>
	<div class="login">
		<h4>Please, type your name:</h4>
		{{ input value=playerName placeholder="go for it" }}
	</div>
	<a href="#game" class="button login-button">Launch the game</a>
	
</div>