<div class="wrapper">

	<div class="header">
		<div class="navbar">
			<a href="#rules" class="button small-button">Rules</a>
			<a href="#about" class="button small-button">About</a>
			<a href="#ranking" class="button small-button">Ranking</a>
			<a href="#login" class="button small-button">Restart</a>
		</div>
	</div>
	<div id="game_container"></div>
	<div {{bind-attr class=":loader finishedLoading:invisible"}}>
		<h3>Loading...</h3>
	</div>
</div>