
<div class="wrapper">

	<div class="header">
		<div class="navbar">
			<a href="#rules" class="button small-button">Rules</a>
			<a href="#about" class="button small-button">About</a>
			<a href="#ranking" class="button small-button">Ranking</a>
		</div>
	</div>
	<div class="welcome">
		<h1>WELCOME</h1>
		<h3>Contest App Demo Page</h3>
		<h4>Have fun</h4>
	</div>
	<a href="#login" class="button landing-button">Play!</a>
	
</div>