
<div class="wrapper">

	<div class="header">
		<div class="navbar">
			<a href="#rules" class="button small-button">Rules</a>Handlebar rules link here
			<a href="#about" class="button small-button">About</a>
			<a href="#ranking" class="button small-button">Ranking</a>
		</div>
	</div>
	<div class="login">
		<h4>Please, type your email:</h4>
		{{input value=playerName placeholder="test" class=isInputValid:valid_login_text}}
		<h5 {{bind-attr class=":invisible isEmailValidForSending::invalid_input_alert"}}>Please input correct email</h5>
	</div>
	<a href="javascript:;" {{action 'startGame'}}  class="button login-button">Launch the game</a>
	
</div>