
<div class="wrapper">

	<div class="header">
		<div class="navbar">
			<a href="#about" class="button small-button">About</a>
			<a href="#game" class="button small-button">Game</a>
		</div>
	</div>
	<div class="ranking">
		<h2>Ranking</h2>
		{{#if loadingResults  }}
			<div class="loading-rankings">Please wait, loading rankings.. </div>
		{{else}}
			{{#unless results}}
				<div class="no-rankings">No rankings found.</div>
			{{/unless}}
		{{/if}}
		<ul id="ranking-list">
			{{#each result in results}}
   	 			<li {{bind-attr class="showNewItems:ranking-result"}}>
   	 				<span class="position">{{_view.contentIndex}}</span>
   	 				<span class="name">{{result.name}}</span>
   	 				<span class="aux-data">{{result.auxData}}</span>
   	 				<span class="points">{{result.points}}</span>
   	 				<span class="postfix">{{result.postfix}}</span>
   	 			</li>
  			{{/each}}
		</ul>
	</div>
	
</div>