body{
    font-family: sans-serif;
}

.invisible{
	visibility: hidden;
}



.welcome{
}

h1{
    font-size: 79px;
    font-weight: bold;
    line-height: 70px;
    margin:  0;
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    text-align: center;
}

.wrapper{
    width: 800px;
    margin: auto;
}

.header{
    height: 100px;
}

.button{
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    display: inline;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    padding: 10px 48px;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    background-color: #fff;
    
   	-webkit-transition: color 0.5s;
    transition: color 0.5s;
   	-webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.small-button{
	font-size: 17px;
	padding: 13px 2px;
	width: 100px !important;
	float: right;
}

.navbar > .small-button{
	-webkit-border-radius: 0px; 
    -moz-border-radius: 0px; 
    border-radius: 0px;
    margin-left: -1px;
}

.navbar > .small-button:first-child{
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.navbar > .small-button:last-child{
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.button:hover{
	color: #fff;
	background-color: #000;
	
	-webkit-transition: color 0.5s;
    transition: color 0.5s;
   	-webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

/* 
*	-------------- LOGIN --------------
*/

.login input{
	margin: auto;
	width: 430px;
	display: block;
	padding: 7px;
	font-size: 36px;
	-webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    color: #f55;
}

.landing-button{
	margin: auto;
	display: block;
	width: 300px;
	margin-top: 59px;
}

.login-button{
	margin: auto;
	display: block;
	width: 350px;
	margin-top: 59px;
}

.invalid_input_alert{
	color: #f44;
	visibility: visible !important;
	width: 100%;
	text-align: center;
}

.valid_login_text{
	color: #000 !important;
}

/*
*	-------------- GAME --------------
*/

.loader{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	background: #fff;
	z-index: 999;
}

.loader h3{
	text-align: center;
	margin-top: 300px;
}

#game_container{
	margin:auto;
	width: 640px;
	height: 480px;
	margin-top: 50px;
}

/*
* ----------------- RANKINGS --------------------
*/

.ranking li{
	opacity: 0;
	-webkit-transition:opacity .25s;
	-moz-transition:opacity .25s;
    transition:opacity .25s;
}

.ranking-result{
	opacity: 1 !important;
	-webkit-transition:opacity .55s;
	-moz-transition:opacity .55s;
    transition:opacity .55s;
}