body{
    font-family: sans-serif;
}

.welcome{
}

h1{
    font-size: 79px;
    font-weight: bold;
    line-height: 70px;
    margin:  0;
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    text-align: center;
}

.wrapper{
    width: 800px;
    margin: auto;
}

.header{
    height: 100px;
}

.button{
    height: 40px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    display: inline;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    padding: 10px 48px;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    background-color: #fff;
    
   	-webkit-transition: color 0.5s;
    transition: color 0.5s;
   	-webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.login input{
	margin: auto;
	width: 430px;
	display: block;
	padding: 7px;
	font-size: 36px;
	-webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
}

.button:hover{
	color: #fff;
	background-color: #000;
	
	-webkit-transition: color 0.5s;
    transition: color 0.5s;
   	-webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.landing-button{
	margin: auto;
	display: block;
	width: 300px;
	margin-top: 59px;
}

.login-button{
	margin: auto;
	display: block;
	width: 350px;
	margin-top: 59px;
}