
<div class="wrapper">

	<div class="header"></div>
	<a href="#login" class="button landing-button">Play!</a>
	<div class="welcome">
		<h1>WELCOME</h1>
		<h3>This is test template</h3>
		<h4>It works!</h4>
	</div>
	
</div>
