<div class="messageFrame">
	<div class="message">
		<p>
			{{message}} 
		</p>
	</div>
	<ul>
		<li>
			<div class="button small-button">Cancel</div>
		</li>
		<li>
			<div class="button small-button">Ok</div>
		</li>
	</ul>
	
</div>