<!doctype html>
<html>
<head>
	<title>{{client_title}}</title>

    <meta charset="utf-8"/>
    <meta name="template_name" content="{{spa_template_name}}"> 
    <meta name="client_key" content="{{client_key}}">
    <meta name="client_regex" content="{{client_regex}}">
    <meta name="game_name" content="{{game_name}}">
    <meta name="game_custom_settings" content="{{game_custom_settings}}">
    <meta name="rules_link" content="{{rules_link}}">
    <meta name="static_url" content="{{ STATIC_URL }}">
    <link href="{{ STATIC_URL }}frontEnd/app/templates/{{spa_template_name}}/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}frontEnd/app/templates/{{spa_template_name}}/css/mobile.css" rel="stylesheet" type="text/css"/>
    {% for filename in aux_css_files %}
    	<link href="{{ STATIC_URL }}frontEnd/app/games/{{game_name}}/{{filename}}" rel="stylesheet" type="text/css"/>
	{% endfor %}

</head>
<body>
    
    <script data-main="{{ STATIC_URL }}frontEnd/app/main.js"
    	src="{{ STATIC_URL }}frontEnd/lib/require.js" ></script>
</body>

</html>